<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <div id="map"></div>
</html>
