<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>VISA</title>
  
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js'></script>
  <script src="javascripts/l.control.geosearch.js"></script>
  <script src="javascripts/l.geosearch.provider.openstreetmap.js"></script>
  <link href='/stylesheets/mapbox.css' rel='stylesheet' />
  <link rel="shortcut icon" href="/images/VISA-favicon.ico" >
  
</head>
<body>
<!--
	<a href="/add" class="leaflet-center">+</a>
-->
<!--
	<a href="/login" class="login">login</a>
-->
<!--
<form name="input" action="name" method="get">
	<ul>
		<li><input type="text" name="name" value="name of the place"><br></li>
		<li><input type="submit" value="add"></li>
	</ul>
</form> 
-->
<div id='map'></div>
<script>
var map = L.map('map').setView([65, 22], 3);
L.tileLayer('http://{s}.tile.cloudmade.com/9d9033e8b1eb4c99a678bca933620e84/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(map);
new L.Control.GeoSearch({
    provider: new L.GeoSearch.Provider.OpenStreetMap(),
}).addTo(map)
</script>
</body>
</html>
